<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{~/cakeshop/admin/css/bootstrap.css}"/>
</head>
<body>
<div class="container-fluid">

    <!--head-->
    <div th:replace="~{admin/admin_head.html::admin_head}"></div>

    <div class="alert alert-success" th:if="${msg}!=null" th:text="${msg}"></div>
    <div class="alert alert-danger" th:if="${failMsg}!=null" th:text="${failMsg}"></div>

    <br>

    <form class="form-horizontal" th:action="@{/admin/user/edit}" method="post">
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">用户名</label>
            <div class="col-sm-5" th:text="${session.loginUser.getName()}"></div>
        </div>
        <div class="form-group">
            <label for="input_pass" class="col-sm-1 control-label">原密码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_pass"
                       name="password" required="required">
            </div>
        </div>
        <div class="form-group">
            <label for="input_pass_new" class="col-sm-1 control-label">新密码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="input_pass"
                       name="passwordNew" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-success">提交修改</button>
            </div>
        </div>
    </form>

    <span style="color: red;"></span>

</div>
</body>
</html>