<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户修改</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{~/cakeshop/admin/css/bootstrap.css}"/>
</head>
<body>
<div class="container-fluid">

    <!--head-->
    <div th:replace="~{admin/admin_head.html::admin_head}"></div>

    <br><br>

    <form class="form-horizontal" th:action="@{'/admin/user/update/' + ${user.getId()}}" method="post">
        <input type="hidden" name="id" th:value="${user.getId() }">
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">用户名</label>
            <div class="col-sm-5" th:text="${user.getName()}"></div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">收件人</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input_name"
                       name="name" th:value="${user.getName() }">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">电话</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input_name"
                       name="phone" th:value="${user.getPhone() }">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input_name"
                       name="address" th:value="${user.getAddress() }">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-success">提交修改</button>
            </div>
        </div>
    </form>

    <span style="color:red;"></span>

</div>
</body>
</html>