<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户列表</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{~/admin/css/bootstrap.css}"/>
</head>
<body>
<div class="container-fluid">

    <!--head-->
    <div th:replace="~{admin/admin_head.html::admin_head}"></div>

    <!--输出Controller返回的信息-->
    <div class="alert alert-success" th:if="${msg}!=null" th:text="${msg}"></div>
    <div class="alert alert-danger" th:if="${failMsg}!=null" th:text="${failMsg}"></div>

    <div class="text-right">
        <a class="btn btn-warning" th:href="@{/admin/user/save}">添加客户</a>
    </div>

    <br>

    <table class="table table-bordered table-hover">

        <tr>
            <th width="3%">ID</th>
            <th width="10%">用户名</th>
            <th width="10%">邮箱</th>
            <th width="10%">收件人</th>
            <th width="10%">电话</th>
            <th width="10%">地址</th>
            <th width="12%">操作</th>
        </tr>

    <div th:if="${pageInfo.getList()}!=null" th:each="user:${pageInfo.getList()}">
        <tr th:if="!${user.isIsadmin()}">
            <td>
                <p th:text="${user.getId()}"></p>
            </td>
            <td>
                <p th:text="${user.getUsername()}"></p>
            </td>
            <td>
                <p th:text="${user.getEmail()}"></p>
            </td>
            <td>
                <p th:text="${user.getName()}"></p>
            </td>
            <td>
                <p th:text="${user.getPhone()}"></p>
            </td>
            <td>
                <p th:text="${user.getAddress()}"></p>
            </td>
            <td>
                <a class="btn btn-info"
                   th:href="@{'/admin/user/reset/' + ${user.getId()}(username=${user.getUsername()},email=${user.getEmail()})}">重置密码</a>
                <a class="btn btn-primary" th:href="@{'/admin/user/update/' + ${user.getId()}}">修改</a>
                <a class="btn btn-danger" th:href="@{'/admin/user/delete/' + ${user.getId()}}">删除</a>
            </td>
        </tr>
    </div>

    </table>

    <br>
    <!--分页-->
    <div>
        <div style='text-align:center;'>
            <a th:class="${pageInfo.isIsFirstPage()?'btn btn-info disabled':'btn btn-info'}"
               th:href="@{/admin/user/list(pageNum=1)}"
               th:text="${'首页'}">
            </a>
            <a th:class="${pageInfo.isIsFirstPage()?'btn btn-info disabled':'btn btn-info'}"
               th:href="@{/admin/user/list(pageNum=${pageInfo.getPageNum()-1})}"
               th:text="${'上一页'}">
            </a>

            <h2 style='display:inline;'
                th:text="'['+${pageInfo.getPageNum()}+'/'+${pageInfo.getPages()}+']'"></h2>
            <h2 style='display:inline;'
                th:text="'['+${pageInfo.getTotal()}+']'"></h2>

            <a th:class="${pageInfo.isIsLastPage()?'btn btn-info disabled':'btn btn-info'}"
               th:href="@{/admin/user/list(pageNum=${pageInfo.getPageNum()+1})}"
               th:text="${'下一页'}">
            </a>
            <a th:class="${pageInfo.isIsLastPage()?'btn btn-info disabled':'btn btn-info'}"
               th:href="@{/admin/user/list(pageNum=${pageInfo.getPages()})}"
               th:text="${'尾页'}">
            </a>
        </div>
    </div>
    <!--//分页-->
    <br>
</div>
</body>
</html>