<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" th:href="@{~/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{~/css/style.css}">
    <link type="text/css" rel="stylesheet" th:href="@{~/css/flexslider.css}">
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.flexslider.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{~/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{~/js/cart.js}"></script>
    <script>
        $(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
</head>
<body>

<!--header-->
<div th:replace="~{commons/commons.html::header}"></div>
<!--//header-->

<!--//single-page-->
<div class="single">
    <div class="container">
        <div class="single-grids">
            <div class="col-md-4 single-grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li th:data-thumb="@{'http://111.230.195.169:8080' + ${good.getCover()}}">
                            <div class="thumb-image">
                                <img th:src="@{'http://111.230.195.169:8080' + ${good.getCover()}}"
                                     data-imagezoom="true" class="img-responsive">
                            </div>
                        </li>
                        <li th:data-thumb="@{'http://111.230.195.169:8080' + ${good.getImage1()}}">
                            <div class="thumb-image">
                                <img th:src="@{'http://111.230.195.169:8080' + ${good.getImage1()}}"
                                     data-imagezoom="true" class="img-responsive">
                            </div>
                        </li>
                        <li th:data-thumb="@{'http://111.230.195.169:8080' + ${good.getImage2()}}">
                            <div class="thumb-image">
                                <img th:src="@{'http://111.230.195.169:8080' + ${good.getImage2()}}"
                                     data-imagezoom="true" class="img-responsive">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 single-grid simpleCart_shelfItem">
                <h3 th:text="${good.getName()}"></h3>
                <div class="tag">
                    <p>分类 : <a href="goods.action?typeid=5">[[${good.getType().getName()}]]</a></p>
                </div>
                <p th:text="${good.getIntro()}"></p>
                <div class="galry">
                    <div class="prices">
                        <h5 class="item_price">¥ [[${good.getPrice()}]]</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="btn_form">
                    <a href="javascript:" class="add-cart item_add" th:onclick="'javascript:buy('+${good.getId()}+')'">加入购物车</a>
                </div>
            </div>
            <div class="col-md-4 single-grid1">
                <!-- <h2>商品分类</h2> -->
                <ul th:each="type:${#servletContext.getAttribute('typeList')}">
                    <li><!--suppress ThymeleafVariablesResolveInspection 抑制爆红-->
                        <a th:href="@{'/good/list/'+${type.getId()}}" th:text="${type.getName()}"></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--related-products-->
<div class="related-products" style="padding: 2em 0">
    <div class="container">
        <h3>猜你喜欢</h3>

        <div class="product-model-sec single-product-grids" style="margin: 2em 0 0 0">

            <div class="product-grid single-product" th:each="recordGoods:${recordSet}">
                <a th:href="@{'/good/detail/'+${recordGoods.getId()}}">
                    <div class="more-product"><span> </span></div>
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img th:src="@{'http://111.230.195.169:8080' + ${recordGoods.getCover()}}"  class="img-responsive" th:alt="${recordGoods.getName()}">
                        <div class="b-wrapper">
                            <h4 class="b-animate b-from-left  b-delay03">
                                <button>查看详情</button>
                            </h4>
                        </div>
                    </div>
                </a>
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust prt_name">
                        <h4 th:text="${recordGoods.getName()}"></h4>
                        <span class="item_price" th:text="${'￥ ' + recordGoods.getPrice()}"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--related-products-->

<!--footer-->
<div th:replace="~{commons/commons.html::footer}"></div>
<!--//footer-->
</body>
</html>