<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" th:href="@{~/cakeshop/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{~/cakeshop/css/style.css}">
    <script type="text/javascript" th:src="@{~/cakeshop/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/cakeshop/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{~/cakeshop/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{~/cakeshop/js/cart.js}"></script>
</head>
<body>

<!--header-->
<div th:replace="~{commons/commons.html::header(activeType='good_list.html')}"></div>
<!--//header-->

<!--products-->
<div class="products">
    <div class="container">

        <h2 th:text="${type==null?'所有系列':type.getName()}"></h2>

        <div class="col-md-12 product-model-sec">

            <div class="product-grid" th:each="good:${pageInfo.getList()}">

                <a th:href="@{'/good/detail/'+${good.getId()}}">
                    <div class="more-product"><span> </span></div>
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img th:src="@{'http://47.106.72.164:8080' + ${good.getCover()}}" class="img-responsive" th:alt="${good.getName()}" width="240" height="240">
                        <div class="b-wrapper">
                            <h4 class="b-animate b-from-left  b-delay03">
                                <button>查看详情</button>
                            </h4>
                        </div>
                    </div>
                </a>
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust prt_name">
                        <h4 th:text="${good.getName()}"></h4>
                        <span class="item_price" th:text="${'￥ '+good.getPrice()}"></span>
                        <input type="button" class="item_add items" value="加入购物车" th:onclick="'javascript:buy('+${good.getId()}+')'">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <!--分页-->
        <div>
            <div style='text-align:center;'>
                <a th:class="${pageInfo.isIsFirstPage()?'btn btn-info disabled':'btn btn-info'}"
                   th:href="@{'/good/list/'+${type!=null?type.getId():'0'}(pageNum=1)}"
                   th:text="${'首页'}">
                </a>
                <a th:class="${pageInfo.isIsFirstPage()?'btn btn-info disabled':'btn btn-info'}"
                   th:href="@{'/good/list/'+${type!=null?type.getId():'0'}(pageNum=${pageInfo.getPageNum()-1})}"
                   th:text="${'上一页'}">
                </a>

                <h2 style='display:inline;'
                    th:text="'['+${pageInfo.getPageNum()}+'/'+${pageInfo.getPages()}+']'"></h2>
                <h2 style='display:inline;'
                    th:text="'['+${pageInfo.getTotal()}+']'"></h2>

                <a th:class="${pageInfo.isIsLastPage()?'btn btn-info disabled':'btn btn-info'}"
                   th:href="@{'/good/list/'+${type!=null?type.getId():'0'}(pageNum=${pageInfo.getPageNum()+1})}"
                   th:text="${'下一页'}">
                </a>
                <a th:class="${pageInfo.isIsLastPage()?'btn btn-info disabled':'btn btn-info'}"
                   th:href="@{'/good/list/'+${type!=null?type.getId():'0'}(pageNum=${pageInfo.getPages()})}"
                   th:text="${'尾页'}">
                </a>
            </div>
        </div>
        <!--//分页-->

    </div>
</div>
<!--//products-->

<!--footer-->
<div th:replace="~{commons/commons.html::footer}"></div>
<!--//footer-->

</body>
</html>