<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}">
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{js/cart.js}"></script>
</head>
<body>

<!--header-->
<div th:replace="~{/commons/commons.html::header(activeType='index.html')}"></div>
<!--//header-->

<!--banner-->
<div class="banner">
    <div class="container">
        <h2 class="hdng">
            <a th:href="@{'/good/detail/'+${scroll.getId()}}" th:text="${scroll.getName()}"></a>
            <span></span>
        </h2>
        <p>今日精选推荐</p>
        <a class="banner_a" href="javascript:;" th:onclick="'javascript:buy('+${scroll.getId()}+')'">立刻购买</a>
        <div class="banner-text">
            <a th:href="@{'/good/detail/'+${scroll.getId()}}">
                <img th:src="@{{cover}(cover=${scroll.getCover()})}" th:alt="${scroll.getName()}" width="350"
                     height="350">
            </a>
        </div>
    </div>
</div>
<!--//banner-->

<div class="subscribe2"></div>

<!--gallery-->
<div class="gallery">
    <div class="container">

        <div class="alert alert-danger">热销推荐</div>
        <div class="gallery-grids" th:each="hostGood:${hotList}">

            <div class="col-md-4 gallery-grid glry-two">
                <a th:href="@{'/good/detail/'+${hostGood.getId()}}">
                    <img th:src="@{{cover}(cover=${hostGood.getCover()})}" class="img-responsive"
                         th:alt="${hostGood.getName()}" width="350" height="350"/>
                </a>
                <div class="gallery-info galrr-info-two">
                    <p>
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <a th:href="@{'/good/detail/'+${hostGood.getId()}}">>查看详情</a>
                    </p>
                    <a class="shop" href="javascript:;" th:onclick="'javascript:buy('+${hostGood.getId()}+')'">立刻购买</a>
                    <div class="clearfix"></div>
                </div>
                <div class="galy-info">
                    <p>[[${hostGood.getType().getName()}]] > [[${hostGood.getName()}]]</p>
                    <div class="galry">
                        <div class="prices">
                            <h5 class="item_price">¥ [[${hostGood.getPrice()}]]</h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="alert alert-info">新品推荐</div>
        <div class="gallery-grids" th:each="newGood:${newList}">

            <div class="col-md-3 gallery-grid ">
                <a th:href="@{'/good/detail/'+${newGood.getId()}}">
                    <img th:src="@{{cover}(cover=${newGood.getCover()})}" class="img-responsive"
                         th:alt="${newGood.getName()}"/>
                </a>
                <div class="gallery-info">
                    <p>
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <a th:href="@{'/good/detail/'+${newGood.getId()}}">查看详情</a>
                    </p>
                    <a class="shop" href="javascript:;" th:onclick="'javascript:buy('+${newGood.getId()}+')'">立刻购买</a>
                    <div class="clearfix"></div>
                </div>
                <div class="galy-info">
                    <p>[[${newGood.getType().getName()}]] > [[${newGood.getName()}]]</p>
                    <div class="galry">
                        <div class="prices">
                            <h5 class="item_price">¥ [[${newGood.getPrice()}]]</h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//gallery-->

<!--subscribe-->
<div class="subscribe"></div>
<!--//subscribe-->

<!--footer-->
<div th:replace="~{commons/commons.html::footer}"></div>
<!--//footer-->

</body>
</html>