<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" th:href="@{~/cakeshop/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{~/cakeshop/css/style.css}">
    <script type="text/javascript" th:src="@{~/cakeshop/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/cakeshop/js/bootstrap.min.js}"></script>
</head>
<body>

<!--header-->
<div th:replace="~{commons/commons.html::header(activeType='user_login.html')}"></div>
<!--//header-->

<!--account-->
<div class="account">
    <div class="container">
        <div class="register">

            <div class="alert alert-danger" th:if="${failMsg!=null}" th:text="${failMsg}"></div>

            <form th:action="@{/user/login}" method="post">
                <div class="register-top-grid">
                    <h3>用户登录</h3>
                    <div class="input">
                        <span>用户名/邮箱
                            <label style="color: red;">*</label>
                        </span>
                        <input type="text" name="usernameOrEmail" placeholder="请输入用户名或邮箱" required="required">
                    </div>
                    <div class="input">
                        <span>密码
                            <label style="color: red;">*</label>
                        </span>
                        <input type="text" name="password" placeholder="请输入密码" required="required">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="register-but text-center">
                    <input type="submit" value="提交">
                    <div class="clearfix"></div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//account-->

<!--footer-->
<div th:replace="~{commons/commons.html::footer}"></div>
<!--//footer-->

</body>
</html>