<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyan.mapper.OrderitemMapper">
    <resultMap id="BaseResultMap" type="com.cyan.pojo.Orderitem">
        <!--@mbg.generated-->
        <!--@Table orderitem-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="price" jdbcType="FLOAT" property="price"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, price, amount, goods_id, order_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from orderitem
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from orderitem
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cyan.pojo.Orderitem" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into orderitem (price, amount, goods_id,
        order_id)
        values (#{price,jdbcType=FLOAT}, #{amount,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},
        #{order.id,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cyan.pojo.Orderitem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into orderitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="price != null">
                price,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="price != null">
                #{price,jdbcType=FLOAT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cyan.pojo.Orderitem">
        <!--@mbg.generated-->
        update orderitem
        <set>
            <if test="price != null">
                price = #{price,jdbcType=FLOAT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cyan.pojo.Orderitem">
        <!--@mbg.generated-->
        update orderitem
        set price = #{price,jdbcType=FLOAT},
        amount = #{amount,jdbcType=INTEGER},
        goods_id = #{goodsId,jdbcType=INTEGER},
        order_id = #{orderId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update orderitem
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.price,jdbcType=FLOAT}
                </foreach>
            </trim>
            <trim prefix="amount = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.amount,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="goods_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.goodsId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="order_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.orderId,jdbcType=INTEGER}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update orderitem
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.price != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.price,jdbcType=FLOAT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="amount = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.amount != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.amount,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="goods_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.goodsId != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.goodsId,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="order_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.orderId != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.orderId,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into orderitem
        (price, amount, goods_id, order_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.price,jdbcType=FLOAT}, #{item.amount,jdbcType=INTEGER}, #{item.goodsId,jdbcType=INTEGER},
            #{item.orderId,jdbcType=INTEGER})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.cyan.pojo.Orderitem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into orderitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            price,
            amount,
            goods_id,
            order_id,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            #{price,jdbcType=FLOAT},
            #{amount,jdbcType=INTEGER},
            #{goodsId,jdbcType=INTEGER},
            #{orderId,jdbcType=INTEGER},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            price = #{price,jdbcType=FLOAT},
            amount = #{amount,jdbcType=INTEGER},
            goods_id = #{goodsId,jdbcType=INTEGER},
            order_id = #{orderId,jdbcType=INTEGER},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.cyan.pojo.Orderitem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into orderitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=FLOAT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=FLOAT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--根据订单ID查询所有订单项-->
    <select id="selectAllByOrderId" resultType="Orderitem">
        SELECT i.id,i.price,i.amount,g.name
        FROM goods g,orderitem i
        WHERE i.goods_id = g.id AND i.order_id = #{id}
    </select>

    <!--根据订单ID删除订单项-->
    <delete id="deleteByOrderId">
        DELETE FROM `orderitem`
        WHERE order_id = #{id}
    </delete>
    <select id="selectByGoodId" resultType="Orderitem">
        SELECT *
        FROM orderitem
        WHERE goods_id = #{id}
    </select>

</mapper>